#app {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message {
  font-size: 1.6em;
  opacity: 0;
  transition: opacity 2s;
}

.message.visible {
  opacity: 1;
}
